beautifulsoup4==4.12.3
elasticsearch==8.16.0
fastapi==0.115.6
fuzzywuzzy==0.18.0
gymnasium==0.29.0
matplotlib==3.5.2
nltk==3.9.1
numpy==1.24.4
openai==1.57.0
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
perlin_noise==1.13
pydantic==2.10.3
Requests==2.32.3
scipy==1.14.1
stable_baselines3==2.3.2
torch==2.2.1+cu121
tqdm==4.66.4
